<div class="container-fluid">
  <div class="row ">
    <label for="bookTable">
      <h3 class="p-3">Book List:</h3>
    </label>
  </div>
  <div class="row">
      <div class="col-2">
          <a routerLink="/admin/books/new" class="btn btn-dark">Add New Book</a>
      </div>
      <div class="col-2">
          <a routerLink="/admin/books/edit" class="btn btn-dark">Edit Books</a>
      </div>
    </div><br>
  <div class="row-fluid">
    <p>
      <input #query
      (keyup)="filter(query.value)" class="form-control" type="text"  placeholder=" Search for Title...">
    </p>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col-1">#</th>
              <th scope="col-1">BookID</th>
              <th scope="col">Title</th>
              <th scope="col">ISBN-13</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of filteredBooks; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ b.BookID }}</td>
              <td> {{ b.Title }}</td>
              <td>{{ b.Isbn13 }}</td>
              <td>
                <a [routerLink]="['/admin/books/', b.BookID]">Details</a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>


