<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <a class="navbar-brand mr-auto" routerLink="/">
          <img class="img-fluid" width=30px src="assets/4259.ico">
        </a>
        <ul class="navbar-nav p-2">
            <li class="nav-item pr-2">
              <a class="nav-link" routerLink="/books">Books</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link" routerLink="/shopping-cart">Cart
                  <span class="badge badge-dark">{{ getCartItems() }}</span>
                </a>
              </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userservice.userName}}</a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" (click)="login()">{{userservice.loginText}}</a>
                <a class="dropdown-item" *ngIf="userservice.isLoggedIn()" (click)="myProfile()">My Profile</a>
                <a class="dropdown-item" *ngIf="userservice.isLoggedIn()" (click)="myOrders()">My Orders</a>
                <a class="dropdown-item" *ngIf="userservice.isAdmin()" (click)="adminBooks()">Admin Books</a>
                <a class="dropdown-item" *ngIf="userservice.isAdmin()" (click)="adminUsers()">Admin Users</a>
                <a class="dropdown-item" *ngIf="userservice.isAdmin()" (click)="adminOther()">Admin Other</a>
              </div>
            </li>
          </ul>
    </nav>
</div>

