<div class="container">
    <table id="cart" class="table table-hover table-condensed">
              <thead>
              <tr>
                <th style="width:11%"></th>
                <th style="width:25%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:12%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody *ngFor="let s of selectedProducts">
              <tr>
                <td>
                  <img [src]="s.ImageLink" class="img-responsive" height="130">
                </td>
                <td data-th="Product">
                      <h5>{{s.Title}}</h5>
                </td>
                <td data-th="Price">{{s.price | currency:'USD':true}}</td>
                <td data-th="Quantity">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-dark custom">-</button>
                        <input type="number" class="form-control text-center" [value]="s.productCount" readonly>
                        <button type="button" class="btn btn-dark custom">+</button>
                      </div>
                </td>
                <td data-th="Subtotal" class="text-center">{{s.price * s.productCount | currency:'USD':true}}</td>
                <td class="actions" data-th="">
                  <button class="btn btn-outline-danger" (click)="removeItem(s)">Remove</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><button routerLink="/books" class="btn btn-outline-dark"><i class="fa fa-angle-left"></i>Book Catalog</button></td>
                <td colspan="2" class="hidden-xs"></td>
                <td colspan="1" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Cart Total: {{ productTotal | currency:'USD':true}}</strong></td>
                <td><button  routerLink="/checkout"  class="btn btn-dark btn-block">Checkout <i class="fa fa-angle-right"></i></button></td>
              </tr>
            </tfoot>
          </table>
  </div>
