<div class="container">
  <div class="text-center">
    <h2>Checkout</h2>
  </div>
<br>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">My Cart</span>
        <span class="badge badge-secondary badge-pill">{{ cartTotal }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let s of selectedProducts">
          <div >
            <h6 class="my-0">{{s.Title}}</h6>
          </div>
          <span class="text-muted">{{s.price | currency: 'USD':true}} x {{s.productCount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light" *ngIf=getDiscount()>
          <div class="text-success">
            <h6 class="my-0">Discount</h6>
          </div>
          <span class="text-success">-10%</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Shipping</span>FREE
          </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>{{ productTotal | currency:'USD':true}}</strong>
        </li>
      </ul>
<!--
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form> -->
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">1. Shipping Address</h4>
      <form #Order="ngForm" >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input #FirstName="ngModel" [(ngModel)]="firstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="" required>
            <div class="text-danger" *ngIf="FirstName.touched && FirstName.invalid">First name is required.</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input #LastName="ngModel" [(ngModel)]="lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="" required>
            <div class="text-danger" *ngIf="LastName.touched && LastName.invalid">Last name is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input #ShippingAddress1="ngModel" ngModel name="address1"
          type="text" class="form-control" id="address1" placeholder="1234 Main St" required>
          <div class="text-danger" *ngIf="ShippingAddress1.touched && ShippingAddress1.invalid">Address is required.</div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input #ShippingAddress2="ngModel" ngModel name="address2"
          type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <input #City="ngModel" ngModel name="city"
            type="text" class="form-control" id="city" placeholder="City" required>
            <div class="text-danger" *ngIf="City.touched && City.invalid">City is required.</div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select #State="ngModel" ngModel name="state"
            class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <div class="text-danger" *ngIf="State.touched && State.invalid">State is required.</div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input #Zip="ngModel" ngModel name="zip"
            type="text" class="form-control" id="zip" placeholder="12345"
            minlength="5" maxlength="5" required digits>
            <div class="text-danger" *ngIf="Zip.touched && Zip.invalid">
                <div *ngIf="Zip?.errors?.minlength ||Zip?.errors?.maxlength">Must have 5 digits.</div>
                <div *ngIf="Zip?.errors?.digits">Digits only.</div>
                <div *ngIf="Zip?.errors?.required">Zip is required.</div>
            </div>
          </div>
        </div>


        <div class="mb-3">
            <label for="phone">Phone Number <span class="text-muted">(Optional)</span></label>
            <input #Phone="ngModel" ngModel name="phone"
            type="number" class="form-control" id="phone" placeholder="">
          </div>

        <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
            <input #Email="ngModel" ngModel name="email"
            type="email" class="form-control" id="email" placeholder="you@example.com">
            </div>
        </div>
        <hr class="mb-4">
        <h4 class="mb-3">2. Payment Method</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Name On Card</th>
              <th scope="col">Ending On</th>
              <th scope="col">Expiration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of creditCards; let i = index" (click)="cardDetails(i)">
              <td >
                  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                      <label ngbButtonLabel class="btn-outline-dark">
                        <input  #Card="ngModel" ngModel name="cardID"
                        ngbButton type="radio" [value]="c.CreditCardID" required> {{ i+1 }}
                      </label>
                    </div>
              </td>
              <td ><img [src]="cardUrl" class="img-responsive" height="40"></td>
              <td > {{ c.NameOnCard }}</td>
              <td >{{c.CreditCardPrompt}}</td>
              <td >{{ c.ExpirationDate.substr(0,2) }}/{{ c.ExpirationDate.substr(2,2) }}</td>
            </tr>
          </tbody>
        </table>
        <pre></pre>
        <hr class="mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit" data-toggle="tooltip"
        (click)="placeOrder(Order.value, confirm, false)"
        [disabled]="!Order.valid">Confirm and Checkout</button>
      </form>
    </div>
  </div>
</div>

<ng-template #confirm let-modal>
<div class="modal-lg">
    <div class="modal-header">
        <h4 class="modal-title">Order Summary</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="row">
          <div class="col-4">
              <h5 class="mb-3">1. Shipping Address</h5>
              <p> {{order.firstName}} {{order.lastName}}</p>
              <p> {{order.address1}}</p>
              <p *ngIf="order.address2"> {{order.address2}}</p>
              <p> {{order.city}}, {{order.state}}, {{order.zip}}</p>
              <p *ngIf="order.phone"> {{order.phone}}</p>
              <p *ngIf="order.email"> {{order.email}}</p>
          </div>
          <div class="col-4">
              <h5 class="mb-3">2. Payment Method</h5>
              <p >Cardholder: {{ creditCard.NameOnCard }}</p>
              <p >Ends with: {{creditCard.CreditCardPrompt}}</p>
              <p >Expires: {{ creditCard.ExpirationDate.substr(0,2) }}/{{ creditCard.ExpirationDate.substr(2,2) }}</p>
          </div>
          <div class="col-4">
              <h5 class="mb-3">3. Cart</h5>
              <p *ngFor="let s of selectedProducts">{{ s.Title }}</p>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <h6>Total: ${{ productTotal }}</h6>
        <button class="btn btn-dark" (click)="placeOrder(Order.value, confirm, true)">Place Order</button>
        </div>
</div>
</ng-template>
