<div class="container">
    <div class="row ">
        <label for="orderTable">
          <h3>Invoice List:</h3>
        </label>
      </div>
      <div class="row">
          <div class="btn-group" role="group">
              <button routerLink="/admin/orders" class="btn btn-dark m-1">Profit</button>
          </div>
        </div><br>
      <div id="InvoiceTable" class="row-fluid">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col-1">#</th>
                  <th scope="col-1">Inv.ID</th>
                  <th scope="col">Us.ID</th>
                  <th scope="col">Us.Name</th>
                  <th scope="col">CardID</th>
                  <th scope="col">Card Prompt</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Order Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of orders; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ o.InvoiceID }}</td>
                  <td>{{ o.UserID }}</td>
                  <td>{{ getUser(o.UserID) }}</td>
                  <td>{{ o.CreditCardID }}</td>
                  <td>{{ o.CreditCardPrompt }}</td>
                  <td>{{ o.TotalPrice | currency:'USD'}}</td>
                  <td>{{ slice(o.OrderDate) }}</td>
                </tr>
              </tbody>
            </table>
      </div>
</div>


