.block {
    font-size: 1em;
    text-align: center;
    width: 80%;
    ul {
        list-style: none;
    }
}

.caption {
  font-size: 1em;
  color: #373737;
  position: absolute;
  top: 22%;
  left: 0;
  width: 100%;
}

.thumbnail {
  position: relative;
  margin-bottom: -3rem;
  margin-top: -3rem;
}

.custom {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
}

.card {
  border: none;
  background-color:rgba(255,255,255,0.4);
}

.btn {
  width: 180px
}

.profile {
  -webkit-filter: opacity(90%);
  filter: opacity(90%);
}

img{
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}
