<div class="modal-dialog modal-lg">
        <div class="modal-body text-right">
              <div class="card flex-row flex-wrap justify-content-center">
                <div class="col sm">
                    <div class="card-header ">
                        <img *ngFor="let b of book$ | async" class="img-fluid" [src]="b.ImageLink">
                    </div>
                </div>
                <div class="col sm mr-4">
                    <div class="card-block text-right">
                        <blockquote class="blockquote">
                            <h4 class="mb-0" *ngFor="let b of book$ | async" >{{ b.Title }} </h4>
                            <div class="text-muted" *ngFor="let a of author$ | async">
                              <small>by {{ a.Name }}</small>
                            </div>
                          </blockquote>
                          <hr>
                    <div *ngFor="let f of format$ | async">
                        <p>{{f.FormatName}}</p>
                        <h5>{{ f.Price | currency:'USD':true }}</h5>
                    </div>
                    <hr>
                    <div *ngFor="let p of publisher$ | async">
                        <h6>{{ p.Name }}</h6>
                        <p *ngFor="let b of book$ | async" class="text-muted">
                          {{ slice(b.PublishingDate) }}
                        </p>
                    </div>
                  <a routerLink="/books" class="btn btn-dark mt-4" >Back to Catalog</a>
                </div>
                </div>
              </div>
          </div>
</div>

