@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body, html {
    // height: 100%;
    // margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 85px;
<<<<<<< Updated upstream
    font-family: 'Spectral', serif;
=======
>>>>>>> Stashed changes
    // padding-left: 85px;
    // padding-right: 85px; //FIX RESIZE
    //silk: #dcd0c0
    //charcoal: #373737
    //pale gold: #c0b283

}
* {
  border-radius: 0 !important;
}

   // font-family: 'Montserrat';
//}

// body {
//     font-family: 'Montserrat';
//     font-size: 18px;
// }

// a {
//     text-decoration: none;
// }


// .container {
//     width: 80%;
//     margin: 0 auto;
//     padding: 1.3em;
//     display: grid;
//     grid-template-columns: 30% auto;
// }

// section {
//     width: 80%;
//     margin: 0 auto;
//     padding: 2em;
// }
