@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body, html {
    // height: 100%;
    // margin: 0 auto;
    //padding-top: 85px;
    //padding-bottom: 85px;
    font-family: 'Spectral', serif;
    background-color: white;
    // padding-left: 85px;
    // padding-right: 85px; //FIX RESIZE
    //silk: #dcd0c0
    //charcoal: #373737
    //pale gold: #c0b283

}

* {
  border-radius: 0 !important;
}

footer {
  background-color: #dcd0c0;
  color: #373737;
  padding: 32px;
}

footer a {
  color: #373737;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}
