<div class="modal-header">
  <h4 class="modal-title"  *ngFor="let b of book$ | async" >{{ b.Title }} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img *ngFor="let b of book$ | async" class="img-fluid" [src]="b.ImageLink">
        </div>
        <div class="col">
            <p  *ngFor="let a of author$ | async">Author: {{ a.Name }}</p>
            <div *ngFor="let f of format$ | async">
            <p>Format: {{f.FormatName}}</p>
            <p>Price: {{ f.Price | currency:'USD':true }}</p>
            <p>Cost: {{ f.Cost | currency:'USD':true }}</p>
            <p>Quantity: {{ f.Quantity }}</p>
            </div>
            <p  *ngFor="let p of publisher$ | async">Publisher: {{ p.Name }}</p>
        </div>
      </div>
</div>
