<header>
    <div class="thumbnail text-center">
        <img class="img-fluid d-block mx-auto image" src="/assets/images/contact.jpg">
        <div class="caption">
          <h2>CONTACT</h2>
          <div class="d-flex flex-row justify-content-center ml-5 mr-5 pl-5 pr-5">
            <div class="col">
                <div class="d-flex flex-row justify-content-center">
                    <div class="card" style="width: 20rem; height: 15rem;">
                        <div class="card-body">
                            <br>
                          <h5 class="card-title"><i class="fa fa-phone"></i></h5>
                          <p class="card-text">PHONE</p>
                          <hr style="width: 15%">
                          <p class="card-text">+1(314)561-2361</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row justify-content-center">
                  <div class="card" style="width: 20rem; height: 15rem;">
                      <div class="card-body">
                        <br>
                        <h5 class="card-title"><i class="fa fa-envelope"></i></h5>
                        <p class="card-text">EMAIL</p>
                        <hr style="width: 15%">
                        <p class="card-text">benjaminmsipe@student.cofo.edu</p>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row justify-content-center">
                    <div class="card" style="width: 20rem; height: 15rem;">
                        <div class="card-body">
                            <br>
                          <h5 class="card-title"><i class="fa fa-map-marker"></i></h5>
                          <p class="card-text">ADDRESS</p>
                          <hr style="width: 15%">
                          <p class="card-text">100 Opportunity Avenue, Point Lookout MO</p>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </header>

