<div class="row">
  <div class="col-md-3">
    <div class="sticky-top">
        <ul class="list-group-flush">
            <li *ngFor="let c of categories$ | async" class="list-group-item">
               {{ c.CategoryName }}
            </li>
         </ul>
    </div>
  </div>
  <!-- <div class="col-1"></div> -->
  <div class="col-md">
      <div class="row">
          <div class="card-columns">
          <ng-container *ngFor="let b of books$ | async; let i = index">
            <div class="col">
            <book-card [book]="b"></book-card>
          </div>
          </ng-container>
          </div>
        </div>
  </div>
</div>
