h3
  padding-bottom: 30px;

h5
  color: #c0b283;
  margin-bottom: 30px;
  border: 1px solid #c0b283 ;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%
  padding-bottom: 2%

.card-columns
  column-count: 2;

ul
  cursor: pointer;

.active
    background-color: #373737   !important;
    border: none;

/deep/ .pagination .page-item .page-link
  border-radius: 0 !important;

/deep/ .pagination .page-link
  //border: black !important;
  background-color: #373737 !important;
  color: 	white !important;

.container
  margin-top: 85px;




