<div class="card text-center" style="width: 22rem;">
    <div class="thumbnail text-center">
        <a [routerLink]="['/books/', book.BookID]">
          <img src="{{book.ImageLink}}" class="card-img-top" id="BookImage" class="img-responsive" height="550">
        </a>
        <div class="caption" *ngIf="this.bookToCart.quantity == 0 || outOfStock">
          <button class="custom-button" [disabled]=true>OUT OF STOCK</button>
        </div>
    </div>
    <!-- </div> -->
    <div class="card-body">
      <h5 class="card-title" >{{ book.Title }}</h5>
      <div *ngFor="let f of format$ | async">
          <!-- <p>{{f.FormatName}}</p> -->
          <p>{{ f.Price | currency:'USD' }}</p>
          </div>
      <button (click)="addToCart(book)"
      class="btn btn-dark btn-block" [disabled]="this.bookToCart.quantity == 0 || outOfStock">Add to Cart</button>
    </div>
  </div>
  <!-- *ngIf="showActions"
  (click)="addToCart()" -->
