<div class="container">
  <div class="d-flex flex-row justify-content-center">
    <label for="orderTable">
      <h3 class="p-3">Profit</h3>
    </label>
  </div>
  <div  style="background:white; color:#c0b283; border: 1px solid#c0b283 !important"
  class="jumbotron text-center pt-3 pb-3"  *ngFor="let t of total">
    <div class="row">
      <div class="col">
          <h6>TOTAL ASSETS: <strong>{{ t.TotalAssets | currency:'USD' }}</strong></h6>
      </div>
      <div class="col">
          <h6>TOTAL VALUE:<strong> {{ t.TotalValue | currency:'USD' }}</strong></h6>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-2">
        <ul class="list-group p-0 m-0">
            <li class="list-group-item">
                <button routerLink="/admin/invoice" class="btn btn-outline-dark">
                  <i class="fa fa-angle-left"></i> Back to Invoice
                </button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-dark" (click)="collapseBook()"
                [attr.aria-expanded]="!bookCollapsed" aria-controls="ProfitByBook">
                  By Book
                </button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-dark" (click)="collapseCategory()"
                [attr.aria-expanded]="!categoryCollapsed" aria-controls="CategoryTotal">
                By Category
                </button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-dark" (click)="collapsePublisher()"
                aria-controls="PublisherTotal">
                 By Publisher
                </button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-dark" (click)="collapsePublisherDay()"
                [attr.aria-expanded]="!publisherDayCollapsed" aria-controls="PublisherRevenueByDate">
                By Publisher/Day
              </button>
            </li>
         </ul>
    </div>
    <div class="col mt-2 mr-4">
        <div id="ProfitByBook" [ngbCollapse]="bookCollapsed" class="row-fluid">
            <p>
                <input #query
                (keyup)="filter(query.value)" class="form-control" type="text"  placeholder=" Search for title...">
              </p>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-1"></th>
                    <th scope="col-1">Book ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">ISBN-13</th>
                    <th scope="col">Income</th>
                    <th scope="col">Profit</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let b of filteredBooks; let i = index">
                    <td>{{ i+1 }}</td>
                    <td><img [src]="b.ImageLink" class="img-responsive" height="90"></td>
                    <td>{{ b.BookID }}</td>
                    <td>{{ b.Title }}</td>
                    <td>{{ b.Isbn13 }}</td>
                    <td>{{ b.Income | currency:'USD' }}</td>
                    <td>{{ b.Profit | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="PublisherRevenueByDate" [ngbCollapse]="publisherDayCollapsed" class="row-fluid">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-1">Publisher ID</th>
                    <th scope="col-1">Publisher Name</th>
                    <th scope="col-1">Order Date</th>
                    <th scope="col">Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of revenueByPublisher; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ r.PublisherID }}</td>
                    <td>{{ getPublisher(r.PublisherID) }}</td>
                    <td>{{ slice(r.OrderDate) }}</td>
                    <td>{{ r.Revenue | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="PublisherTotal" [ngbCollapse]="publisherCollapsed" class="row-fluid">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-1">Publisher ID</th>
                    <th scope="col-1">Publisher Name</th>
                    <th scope="col-1">Total Assets</th>
                    <th scope="col">Total Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let b of booksByPublisher; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ b.PublisherID }}</td>
                    <td>{{ getPublisher(b.PublisherID) }}</td>
                    <td>{{ b.TotalAssets | currency:'USD' }}</td>
                    <td>{{ b.TotalValue | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="CategoryTotal" [ngbCollapse]="categoryCollapsed" class="row-fluid">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-1">Category ID</th>
                    <th scope="col-1">Category Name</th>
                    <th scope="col-1">Total Assets</th>
                    <th scope="col">Total Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let b of booksByCategory; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ b.CategoryID }}</td>
                    <td>{{ getCategory(b.CategoryID) }}</td>
                    <td>{{ b.TotalAssets | currency:'USD' }}</td>
                    <td>{{ b.TotalValue | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    </div>
</div>


