<header>
    <div class="thumbnail text-right">
        <img class="img-fluid d-block" src="assets/images/success.jpg">
        <div class="caption">
          THANK YOU, {{ firstName }}
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col container">
                <hr>
                <p>The estimated delivery of your order is 3-5 buisness days.</p>
                <button routerLink="/books" class="btn btn-outline-dark">CONTINUE SHOPPING?</button>
            </div>
          </div>
        </div>
    </div>
  </header>
