<div class="container">
  <div class="row">
        <div class="col-8">
            <h4  class="text-center">Add New Book</h4><br>
            <form #AddBook="ngForm" (ngSubmit)="saveBook(AddBook.value)" aria-required="true">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="title">Title</label>
                  <input #bookTitle="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
                  <div class="text-danger" *ngIf="bookTitle.touched && bookTitle.invalid">Title is required.</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="title">ISBN-13</label>
                  <input #isbn="ngModel" ngModel name="Isbn13" id="title" type="text" class="form-control" minlength="13" maxlength="13" required>
                  <div class="text-danger" *ngIf="isbn.touched && isbn.invalid">
                      <div *ngIf="isbn?.errors?.minlength ||isbn?.errors?.maxlength">Must have 13 digits.</div>
                      <div *ngIf="isbn?.errors?.required">Required.</div>

                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="imageUrl">Image URL</label>
                  <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" url required>
                  <div class="text-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                      <div *ngIf="imageUrl?.errors?.url">Invalid URL.</div>
                      <div *ngIf="imageUrl?.errors?.required">Required.</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-7">
                      <label for="publisher">Publisher</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-dark" type="button" data-toggle="tooltip" data-placement="left" title="Add New Publisher" (click)="addNew(newPublisher)">+</button>
                          </div>
                          <select #publisher="ngModel" ngModel name="publisher" id="publisher"  class="form-control"required>
                              <div class="text-danger" *ngIf="publisher.touched && publisher.invalid">Publisher is required.</div>
                            <option *ngFor="let p of publishers$ | async" [value]="p.PublisherID">
                              {{ p.Name }}
                            </option>
                          </select>
                      </div>
                      <div class="text-danger" *ngIf="publisher.touched && publisher.invalid">Publisher is required.</div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="publication-date">Publiction Date</label>
                    <input  #publicationDate="ngModel" ngModel name="date" id="date" class="form-control" type="date" required>
                    <div class="text-danger" *ngIf="publicationDate.touched && publicationDate.invalid">Publication Date is required.</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="Author">Author</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-dark " type="button" data-toggle="tooltip" data-placement="left" title="Add New Author" (click)="addNew(newAuthor)">+</button>
                          </div>
                          <select #author="ngModel" ngModel name="author" id="author"  class="form-control" required>
                            <option *ngFor="let a of authors$ | async" [value]="a.AuthorID">
                              {{ a.Name }}
                            </option>
                          </select>
                      </div>
                      <div class="text-danger" *ngIf="author.touched && author.invalid">Author is required.</div>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="category">Category</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-dark " type="button" data-toggle="tooltip" data-placement="left" title="Add New Category" (click)="addNew(newCategory)">+</button>
                          </div>
                          <select #category="ngModel" ngModel name="category" id="category"  class="form-control" required>
                            <option *ngFor="let c of categories$ | async" [value]="c.CategoryID">
                              {{ c.CategoryName }}
                            </option>
                          </select>
                      </div>
                      <div class="text-danger" *ngIf="category.touched && category.invalid">Category is required.</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="format">Format</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-dark " type="button" data-toggle="tooltip" data-placement="left" title="Add New Format" (click)="addNew(newFormat)">+</button>
                          </div>
                          <select #format="ngModel" ngModel name="format" id="format"  class="form-control" required>
                            <option *ngFor="let f of formats$ | async" [value]="f.FormatID">
                              {{ f.FormatName }}
                            </option>
                          </select>
                      </div>
                      <div class="text-danger" *ngIf="format.touched && format.invalid">Format is required.</div>
                  </div>
                  <div class="form-group col-md-2">
                      <label for="price">Price</label>
                      <div class="input-group md-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input #bookPrice="ngModel" ngModel name="formatPrice"
                        id="price" type="number" class="form-control" [min]="1" required>
                        <div class="text-danger" *ngIf="bookPrice.touched && bookPrice.invalid">
                            <div *ngIf="bookPrice?.errors?.min">Must be more than 0.</div>
                            <div *ngIf="bookPrice?.errors?.required">Required.</div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cost">Cost</label>
                    <div class="input-group md-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #bookCost="ngModel" ngModel name="formatCost" id="cost" type="number" class="form-control" [min]="1" required>
                      <div class="text-danger" *ngIf="bookCost.touched && bookCost.invalid">
                          <div *ngIf="bookCost?.errors?.min">Must be more than 0.</div>
                          <div *ngIf="bookCost?.errors?.required">Required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                      <label for="quantity">Quantity</label>
                      <div class="input-group mb-3">
                        <input #quantity="ngModel" ngModel name="formatQuantity" id="quantity" type="number" class="form-control" [range]="[1, 150]" required>
                        <div class="text-danger" *ngIf="quantity.touched && quantity.invalid">
                            <div *ngIf="quantity?.errors?.range">Must be 1-150.</div>
                            <div *ngIf="quantity?.errors?.required">Required.</div>
                        </div>
                      </div>
                  </div>
              </div>
              <!-- <div class="alert" *ngIf="AddBook.valid">

              </div> -->
              <button type="submit" class="btn btn-dark" [disabled]="!AddBook.valid">Save</button>
            </form>
          </div>
          <div class="col-4 text-center">
            <h4>Preview</h4><br>
            <label>This is the book preview:</label>
              <div class="row justify-content-center">
                  <div class="card text-center" style="width: 18rem;">
                      <img class="card-img-top" [src]="imageUrl.value" >
                      <div class="card-body">
                        <h5 class="card-title">{{bookTitle.value}}</h5>
                        <p class="card-text">{{bookPrice.value  | currency:'USD':true }}</p>
                      </div>
                      </div>
                    </div>
          </div>
  </div>
</div>

<!-- NG_TEMPLATES -->
<ng-template #newCategory let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add New Category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <form #NewCategory="ngForm" (ngSubmit)="saveCategory(NewCategory.value)">
          <div class="modal-body">
          <div class="form-group">
                <label for="newCategory">New Category:</label>
                  <div class="form-group">
                      <div class="input-group mb-3">
                        <input  ngModel name="newCategoryName" id="newCategory" type="text" class="form-control">

                      </div>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <p class="alert alert-success" *ngIf="submit">Category saved!</p>
              <button class="btn btn-dark" type="submit">Save</button>
              </div>
          </form>
</ng-template>

<ng-template #newFormat let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add New Format</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <form #NewFormat="ngForm" (ngSubmit)="saveFormat(NewFormat.value)">
          <div class="modal-body">
          <div class="form-group">
                <label for="newFormat">New Format:</label>
                  <div class="form-group">
                      <div class="input-group mb-3">
                        <input  ngModel name="newFormatName" id="newFormat" type="text" class="form-control">
                      </div>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <p class="alert alert-success" *ngIf="submit">Format saved!</p>
              <button class="btn btn-dark" type="submit">Save</button>
              </div>
          </form>
</ng-template>

<ng-template #newPublisher let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Add New Publisher</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <form #NewPublisher="ngForm" (ngSubmit)="savePublisher(NewPublisher.value)">
           <div class="modal-body">
            <div class="form-group">
                  <label for="publisher">Publisher Name:</label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                          <input  ngModel name="newPublisherName" id="newPublisher" type="text" class="form-control">
                        </div>
                      </div>
                      <label for="publisher">Publisher Contact Name:</label>
                      <div class="form-group">
                          <div class="input-group mb-3">
                            <input  ngModel name="newPublisherContactName" id="newPublisherContactName" type="text" class="form-control">
                          </div>
                        </div>
                        <label for="publisher">Publisher Address:</label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                              <input  ngModel name="newPublisherAddress" id="newPublisherAddress" type="text" class="form-control">
                            </div>
                          </div>
                          <label for="publisher">Publisher Phone:</label>
                          <div class="form-group">
                              <div class="input-group mb-3">
                                <input  ngModel name="newPublisherPhone" id="newPublisherPhone" type="number" class="form-control">
                              </div>
                            </div>
                </div>
              </div>
                <div class="modal-footer">
                    <p class="alert alert-success" *ngIf="submit">Publisher saved!</p>
                    <button class="btn btn-dark">Save</button>
                    </div>
            </form>
</ng-template>

<ng-template #newAuthor let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add New Author</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <form #NewAuthor="ngForm" (ngSubmit)="saveAuthor(NewAuthor.value)">
         <div class="modal-body">
          <div class="form-group">
                <label for="Author">Author Name:</label>
                  <div class="form-group">
                      <div class="input-group mb-3">
                        <input  ngModel name="newAuthorName" id="newAuthor" type="text" class="form-control">
                      </div>
                    </div>
                    <label for="Author">Author Biography:</label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                          <textarea ngModel name="newAuthorBio" class="form-control" id="newAuthorBio" rows="3"></textarea>

                        </div>
                      </div>
                      <label for="author">Author Image Link:</label>
                      <div class="form-group">
                          <div class="input-group mb-3">
                            <input  ngModel name="newAuthorImageLink" id="newAuthorImageLink" type="text" class="form-control">
                          </div>
                        </div>
              </div>
            </div>
              <div class="modal-footer">
                  <p class="alert alert-success" *ngIf="submit">Author saved!</p>
                  <button class="btn btn-dark">Save</button>
                  </div>
          </form>
</ng-template>

