
<h1>New Account:</h1>
<div>
  <ul>
    <li>
      Name<br>
      <input [value]="user.name" (input)="user.name = $event.target.value" type="text"/>
    </li>
    <li>
      Email<br>
      <input [value]="user.email" (input)="user.email = $event.target.value" type="text"/>
    </li>
    <li>
        Password<br>
        <input type="password" [value]="user.password" (input)="user.password = $event.target.value"/>
    </li>    
    <li>
      Repeat Password<div class="error">{{error}}</div>
      <input type="password" [value]="repeatPassword" (input)="repeatPassword = $event.target.value"/>
    </li>
    <li>
      Home Phone<br>
      <input type="text" [value]="user.homePhone" (input)="user.homePhone = $event.target.value"/>
    </li>
    <li>
      Work Phone (optional)<br>
      <input type="text" [value]="user.workPhone" (input)="user.workPhone = $event.target.value"/>
    </li>
    <li>
      <button (click)="onClick()">Submit</button>
    </li>
  </ul>
  {{user.userID}}
</div>