img{
  margin-top: -20rem;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  width: 100%;
}
// .bg-image-full {
//   width: 125%;
//   background: no-repeat center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }
