
<header>
  <div class="thumbnail text-center">
      <img class="img-fluid d-block mx-auto image" src="https://img1.wsimg.com/isteam/stock/100618">
      <div class="caption">
          <!-- <p>READ</p> -->
          <button routerLink="/books" class="custom btn btn-outline-light">READ</button>
          <p class="mt-5 pt-5">
            <a class="fa fa-caret-down" style="font-size:40px; color: #f4f4f4;"></a>
          </p>
      </div>
  </div>
</header>
<div style="background:#dcd0c0 !important" class="jumbotron text-center mb-0">
    <blockquote class="blockquote">
        <p class="mb-0">“Think before you speak. Read before you think.”</p>
        <footer class="blockquote-footer">Fran Lebowitz</footer>
      </blockquote>
  </div>
<div style="background:#f4f4f4 !important" class="jumbotron mt-0 mb-5">
<body class="container text-center mt-4 mb-5">
  <hr>
  <h3>Our Bestsellers</h3><br>
      <div class="d-flex flex-row mt-5 justify-content-between" >
          <div class="col-sm-4 p-5" *ngFor="let b of topBooks$ | async">
            <img class="img-custom" [src]="b.ImageLink">
            <hr>
            <p class="mt-3">{{ b.Title }}</p>
          </div>
        </div>
        <br>
        <button id="explore" routerLink="/books" class="btn btn-dark mt-0">EXPLORE</button>
        <hr class="my-3">
</body>
</div>
<div class="map text-center">
    <img class="img-fluid d-block mx-auto mb-0 pb-0 image" src="assets/images/map.png">
    <div class="map-caption">
        <div class="container p-5">
            <p class="text-center">CONTACT</p>
            <hr class="hr">
            <p class="text-center" style="color:#f4f4f4 !important"><small>Have a question?</small></p>
                <div class="row">
                  <div class="col form-group">
                    <input class="form-control form-control-lg" id="name" name="name" placeholder="Name" type="text" required>
                  </div>
                  <div class="col form-group">
                    <input class="form-control form-control-lg" id="email" name="email" placeholder="Email" type="email" required>
                  </div>
                </div>
                <textarea class="form-control form-control-lg" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        </div>
        <button id="send" class="btn btn-outline-light">Send</button>
    </div>
</div>
<!-- <div class="text-center">
    <img class="d-block mx-auto" src="assets/images/shelf.jpg">
    <div class="caption">
        <i class="fas fa-caret-down"></i>
    </div>
</div> -->

