img{
  margin-top: -20rem;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  width: 100%;
}
// .bg-image-full {
//   width: 125%;
//   background: no-repeat center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }
=======
html {
  margin-left: 0px;
  padding-left: 0px;
}
img {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%); /* make all photos black and white */
  width: 100%; /* Set width to 100% */
  height: auto;
  // display: block;
  // //padding-block-end: 0%;
  // padding-block-start: 0%;
  // margin-block-start: 0%;
  // margin-right: 0;
}

.ml-n1 {
  margin-left: -7.8rem !important;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
>>>>>>> Stashed changes
