<div class="container">
  <h4  class="text-center">Update Author</h4><br>
  <form #EditPublisher="ngForm" (ngSubmit)="editPublisher(EditPublisher.value)" aria-required="true">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="title">PublisherID</label>
            <input #publisherID="ngModel" [(ngModel)]="publisher.PublisherID" name="publisherID" id="publisherID" class="form-control" readonly>
          </div>
      <div class="form-group col-md">
        <label for="name">Publisher</label>
        <input #publisherName="ngModel" [(ngModel)]="publisher.Name" name="publisherName" id="publisherName" type="text" class="form-control" required>
        <div class="text-danger" *ngIf="publisherName.touched && publisherName.invalid">Publisher Name is required.</div>
      </div>
    </div>
    <div class="form-group">
        <label for="name">Contact Name</label>
        <input #contactName="ngModel" [(ngModel)]="publisher.ContactName" name="contactName" id="contactName" type="text" class="form-control" required>
        <div class="text-danger" *ngIf="contactName.touched && contactName.invalid">Contact Name is required.</div>
      </div>
      <div class="form-group">
        <label for="name">Address</label>
        <input #address="ngModel" [(ngModel)]="publisher.Address" name="address" id="address" type="text" class="form-control" required>
        <div class="text-danger" *ngIf="address.touched && address.invalid">Address is required.</div>
      </div>
      <div class="form-group">
        <label for="name">Phone Number</label>
        <input #phone="ngModel" [(ngModel)]="publisher.PhoneNumber" name="phone" id="phone" type="text" class="form-control"
        minlength="10" maxlength="15" required digits>
        <div class="text-danger" *ngIf="phone.touched && phone.invalid">
            <div *ngIf="phone?.errors?.minlength ||phone?.errors?.maxlength">Error.</div>
            <div *ngIf="phone?.errors?.digits">Digits only.</div>
            <div *ngIf="phone?.errors?.required">Phone is required.</div>
        </div>
      </div>
<button type="button" (click)="adminOther()" class="btn btn-outline-dark btn-custom">
  <i class="fa fa-angle-left"></i> Cancel
</button>
<button type="submit" class="btn btn-dark btn-custom" [disabled]="!EditPublisher.valid">Update</button>
</form>
</div>
